# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.git_backup_*

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
.metadata

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/.gradle
/android/build
/android/app/build

# iOS specific
/ios/.symlinks/
/ios/Pods/
/ios/Runner.xcworkspace/xcshareddata/
/ios/Runner.xcodeproj/xcshareddata/xcschemes/

# macOS specific
/macos/Pods/
/macos/Runner.xcworkspace/xcshareddata/
/macos/Runner.xcodeproj/xcshareddata/xcschemes/

# Windows specific
/windows/build/
/windows/runner/build/

# Linux specific
/linux/build/
/linux/runner/build/

# Web specific
/web/.dart_tool/

# Environment variables
.env
.env.local
.env.*.local

# DevTools
devtools_options.yaml
